<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>@ParkSlopeCafe Console</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/adminConsole.css}"/>
        <link rel="stylesheet" th:href="@{/css/background.css}"/>
    </head>
    <body>
        <div class="adminConsole">
            <h2 class="adminConsole-heading">Store Status</h2>
            <p th:switch="${storeStatus.storeIsOpen}">
                <span th:case="${true}">
                    <p class="center">The store is open</p>
                </span>
                <span th:case="${false}">
                    <p class="center">The store is closed</p>
                </span>
            </p>
            <button id="storeClosed" class="btn btn-lg btn-danger btn-block col-xs-12 col-sm-10 col-m-8 col-lg-6 col-xl-4"
                    th:value="${false}">Closed</button>
            <button id="storeOpen" class="btn btn-lg btn-success btn-block col-xs-12 col-sm-10 col-m-8 col-lg-6 col-xl-4"
                    th:value="${true}">Open</button>
            <h2>Enter a message:</h2>
            <textarea type="text" id="message"></textarea>
            <h2 class="adminConsole-heading">Decorations</h2>
            <ul id="decorations" class="col-xs-12 col-sm-10 col-m-8 col-lg-6 col-xl-4">
                <input type="checkbox" class="checkbox" th:value="'newYears'"/>
                    <li>New Year's</li>
                <input type="checkbox" class="checkbox" th:value="'valentines'"/>
                    <li>Valentine's Day</li>
                <input type="checkbox" class="checkbox" th:value="'goldenWeek'"/>
                    <li>Golden Week</li>
                <input type="checkbox" class="checkbox" th:value="'obon'"/>
                    <li>Obon</li>
                <input type="checkbox" class="checkbox" th:value="'parkslopeAnniversary'"/>
                    <li>Parkslope Cafe Anniversary</li>
                <input type="checkbox" class="checkbox" th:value="'halloween'"/>
                    <li>Halloween</li>
                <input type="checkbox" class="checkbox" th:value="'christmas'"/>
                    <li>Christmas</li>
                <input type="checkbox" class="checkbox" th:value="'birthday'"/>
                    <li>Birthday</li>
            </ul>
        </div>
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/css/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/adminConsole.js}"></script>
    </body>
</html>