<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>@ParkSlopeCafe Console</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/adminConsole.css}"/>
        <link rel="stylesheet" th:href="@{/css/adminConsoleDesktop.css}"/>
        <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
        <link rel="stylesheet" th:href="@{/css/background.css}"/>
    </head>
    <body>
        <nav th:include="fragments/navigation :: navbar"></nav>
        <div class="adminConsole">
            <h2 class="adminConsole-heading">Store Status</h2>
            <p id="storeStatusMsg"></p>
            <button id="storeClosed" class=" storeStatus btn btn-lg btn-danger btn-block col-xs-12 col-sm-10 col-m-8 col-lg-6 col-xl-4"
                    th:value="${false}">Closed</button>
            <button id="storeOpen" class="storeStatus btn btn-lg btn-success btn-block col-xs-12 col-sm-10 col-m-8 col-lg-6 col-xl-4"
                    th:value="${true}">Open</button>
            <h2>Enter a message:</h2>
            <p class="hidden" id="specialCharacters">Please do not use special characters.</p>
            <textarea type="text" id="message" th:text="${storeStatus.message}"></textarea>
            <h2 class="adminConsole-heading">Decorations</h2>
            <ul id="decorations" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <input type="checkbox" class="checkbox" th:value="'newYears'"/>
                    <li class="decoration">New Year's</li>
                <input type="checkbox" class="checkbox" th:value="'valentines'"/>
                    <li class="decoration">Valentine's Day</li>
                <input type="checkbox" class="checkbox" th:value="'goldenWeek'"/>
                    <li class="decoration">Golden Week</li>
                <input type="checkbox" class="checkbox" th:value="'obon'"/>
                    <li class="decoration">Obon</li>
                <input type="checkbox" class="checkbox" th:value="'parkslopeAnniversary'"/>
                    <li class="decoration">Parkslope Cafe Anniversary</li>
                <input type="checkbox" class="checkbox" th:value="'halloween'"/>
                    <li class="decoration">Halloween</li>
                <input type="checkbox" class="checkbox" th:value="'christmas'"/>
                    <li class="decoration">Christmas</li>
                <input type="checkbox" class="checkbox" th:value="'birthday'"/>
                    <li class="decoration">Birthday</li>
            </ul>
        </div>
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/css/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/navbar.js}"></script>
        <script th:src="@{/js/adminConsole.js}"></script>
    </body>
</html>