<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>@ParkSlopeCafe Console</title>
    </head>
    <body>
        <div class="container">
            <h2>Store Status</h2>
            <!--<p th:switch="${store.status}">-->
                <!--<span th:case="'open'">-->
                    <!--<input id="storeStatusOpen" type="checkbox" value="open" checked/>-->
                    <!--<input id="storeStatusClosed" type="checkbox" value="closed"/>-->
                <!--</span>-->
                <!--<span th:case="'closed'">-->
                    <!--<input id="storeStatusOpen" type="checkbox" value="open"/>-->
                    <!--<input id="storeStatusClosed" type="checkbox" value="closed" checked/>-->
                <!--</span>-->
            </p>

        </div>
    </body>
</html>