<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>@ParkSlopeCafe Beer Form</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/beerConsole.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/background.css}"/>
</head>
<body>
<nav th:include="fragments/navigation :: navbar"></nav>
<div class="beerContainer">
    <h1>ビールが加える</h1>
    <form class="beerForm form-group" action="/createBeer" th:method="POST" th:object="${beer}">
        <label for="beerName">Name</label>
        <span th:if="${errorMessages[0] != null}"><p id="errorMsg" th:text="${errorMessages[0]}"></p></span>        <input id="beerName" name="beerName" class="beerInput form-control"
               th:value="${beer.name}" th:field="*{name}"/>
        <label for="beerType">Category</label>
        <span th:if="${errorMessages[1] != null}"><p id="errorMsg" th:text="${errorMessages[1]}"></p></span>
        <input id="beerType" name="beerType" class="beerInput form-control"
               th:value="${beer.category}" th:field="*{category}"/>
        <label for="beerDescription">Description</label>
        <span th:if="${errorMessages[2] != null}"><p id="errorMsg" th:text="${errorMessages[2]}"></p></span>
        <textarea id="beerDescription" name="beerDescription" class="beerInput form-control"
                  th:text="${beer.description}" th:field="*{description}"></textarea>
        <button type="button" id="uploadBtn" class="btn btn-primary form-control">Upload Image</button>
        <img id="beerPicture" class="beerInput"
             src="https://cdn.filestackcontent.com/rounded_corners/HoZ9sOn2RweEAI94vIFy"/>
        <button class="form-control btn btn-success">Create Beer</button>
        <input id="beerPictureUrl" th:value="${beer.picture}" th:field="*{picture}" hidden=""/>
        <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
    </form>
</div>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/css/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
<script th:src="@{/js/navbar.js}"></script>
<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<script th:src="@{/js/upload.js}"></script>
</body>
</html>