<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>@ParkSlopeCafe Beer Profile</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/beerConsole.css}"/>
        <link rel="stylesheet" th:href="@{/css/background.css}"/>
    </head>
    <body>
        <div class="beerContainer">
            <h1><span th:text="${beer.name}"></span> Profile</h1>
            <form class="beerForm form-group">
                <label for="beerName">Name</label>
                <input id="beerName" name="beerName" class="beerInput form-control" th:value="${beer.name}"/>
                <label for="beerType">Category</label>
                <input id="beerType" name="beerType" class="beerInput form-control" th:value="${beer.category}"/>
                <label for="beerDescription">Description</label>
                <textarea id="beerDescription" name="beerDescription" class="beerInput form-control"
                          th:text="${beer.description}"></textarea>
            </form>
        </div>
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/css/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
    </body>
</html>