<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>@ParkSlopeCafe Beer Console</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/beerConsole.css}"/>
        <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
        <link rel="stylesheet" th:href="@{/css/background.css}"/>
    </head>
    <body>
        <nav th:include="fragments/navigation :: navbar"></nav>
        <div class="beerContainer">
            <h1>Beer List</h1>
            <div id="beerListItem" th:each="beer : ${beerList}">
                <!--for some reason the parameter is 'inStock' vs 'isInStock' like the model-->
                <h4 th:switch="${beer.inStock}">
                    <p th:case="${true}">
                        <input th:id="${beer.id}" type="checkbox" class="inStockStatus" checked="true"/>
                        <a class="inStock" th:href="@{'/console/beers/' + ${beer.id}}">
                            <span th:text="${beer.name}"></span>
                        </a>
                    </p>
                    <p th:case="${false}">
                        <input th:id="${beer.id}" type="checkbox" class="inStockStatus"/>
                        <a class="outOfStock" th:href="@{'/console/beers/' + ${beer.id}}">
                            <span th:text="${beer.name}"></span>
                        </a>
                    </p>
                </h4>
            </div>
            <button id="addBeerButton" type="button" class="btn btn-primary">Add Beer</button>
        </div>
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/css/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/navbar.js}"></script>
        <script th:src="@{/js/beerConsole.js}"></script>
    </body>
</html>