<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>@ParkSlopeCafe Console</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/changePassword.css}"/>
        <link rel="stylesheet" th:href="@{/css/background.css}"/>
    </head>
    <body>
        <div class="wrapper">
            <form class="form-signin" th:action="@{/console/changePassword}" th:method="POST">
                <h2 class="form-signin-heading col-xs-12 col-sm-12 col-m-12 col-lg-12 col-xl-12">
                    Please enter your new password
                </h2>
                <input type="password" id="password" name="password" class="form-control input
                        col-xs-12 col-sm-10 col-m-8 col-lg-6 col-xl-4" placeholder="New Password"/>
                <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control input
                        col-xs-12 col-sm-10 col-m-8 col-lg-6 col-xl-4" placeholder="Confirm Password"/>
                <button
                        class="btn btn-lg btn-primary btn-block col-xs-12 col-sm-10 col-m-8 col-lg-6 col-xl-4">
                    Update password
                </button>
            </form>
        </div>
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/css/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
    </body>
</html>